.DS_Store
Thumbs.db
node_modules/
.env
*.log
.continue

.vscode
__pycache__/
phpmyadmin/
venv/
myenv/
avatar-server/
res/

audio_workspace/
logs/

cloudflare.log
avatar-server-backup.zip
project_size_report.txt
*.mp3
*.mp4