.DS_Store
.continue
.vscode

Thumbs.db
node_modules/
.env
logs/
*.log

__pycache__/

phpmyadmin/
venv/
myenv/

inputs/
outputs/
pending/
telegram/
youtube/
temp_demucs*/


res/


yt-dlp/

cloudflare.log
avatar-server-backup.zip
project_size_report.txt